.exercise1 {
	display: flex;
}
.test {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	flex-grow: 1;
}
@keyframes firstPart {
	0% {
		top: 0;
	}
	30% {
		top: 15%;
	}
	60% {
		top: 30%;
	}
	100% {
		top: 50%;
	}
}

.test1 {
	background: #ff6347;
	.loading1 {
		width: 10%;
		height: 20%;
		border-radius: 50px;
		border: 3px solid #eb8a7d;
		position: relative;
		.loading1-circle {
			width: 90%;
			height: 50%;
			border-radius: 50%;
			border: 2px solid whitesmoke;
			background-color: whitesmoke;
			position: absolute;
			animation: firstPart 1s infinite linear;
			animation-direction: alternate-reverse;
		}
	}
}

@keyframes circle-border {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.test2 {
	background: #9370db;
	.loading2 {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border-bottom: 2px solid #fff;
		border-top: 2px solid rgba(251, 251, 251, 0.3);
		border-left: 2px solid rgba(251, 251, 251, 0.3);
		border-right: 2px solid rgba(251, 251, 251, 0.3);
		animation: circle-border 1s infinite linear;
	}
}
@keyframes green-items {
	0% {
		width: 5px;
		height: 5px;
		margin: 5px;
	}
	30% {
		width: 5px;
		height: 30px;
		margin: 5px;
	}
	60% {
		width: 5px;
		height: 60px;
		margin: 5px;
	}
	100% {
		width: 5px;
		height: 60px;
		margin: 5px;
	}
}

.test3 {
	background: #00fa9a;
}
@keyframes squize {
	from {
		height: 50px;
	}

	to {
		height: 10px;
	}
}

.loading3 {
	display: flex;
	align-items: center;

	span {
		display: block;
		width: 7px;
		height: 50px;
		background-color: #fff;
		border-radius: 3px;
		margin-right: 3px;
	}

	@for $i from 1 through 5 {
		span:nth-of-type(#{$i}) {
			animation: squize 0.8s #{$i}50ms ease-in-out infinite alternate;
		}
	}
}
